#main-container {
    background-color: #000;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
  }
  
  .section-title {
    font-size: 24px;
    border-left: 4px solid #F5C518;
    padding-left: 12px;
  }
  
  .section-description {
    font-size: 18px;
  }
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .movie-card {
    background-color: black;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
 .card-img-top {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card-title {
    height: 30px;
  }
  
  .card-title a {
    font-size: 16px;
    color: #FFF;
  }
  
  .fas.fa-star {
    color: #F5C518;
  }
  
  .rating {
    color: #CCC;
  }
  
  .rate-btn {
    margin-bottom: 15px;
    color: #5799EF;
    background-color: #333;
    border-color: #333;
    width: 100%;
    font-weight: bold;
  }
  
  .rate-btn:hover {
    background-color: #444;
    border-color: #444;
  }
  
  .empty-list {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
  }